* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(226, 246, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(59, 69, 84);
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.calculator {
    background: rgb(59, 69, 84);
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;

}

form input.equal {
    width: 145px;
}

form input.operator {
    color: rgb(232, 223, 48);
}